{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar la Direccion de Correo" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirmar la Direccion de Correo" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Por Favor Confirmar que <a
                href="mailto:{{ email }}">{{
                email }}</a> es una Cuenta de Correo para el Usuario {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <button type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}El Link de Confirmacion Expiro o es Invalido. Por Favor <a href="{{ email_url }}">e Emita una Nueva
                Solicitud de Confirmacion por Correo Electronico</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}