{% extends "base.html" %}

{% block content %}

<main class="mt-0 pt-0">
  <div class="container dark-grey-text mt-0">

    <p style="font-size:30px ; color: rgb(46, 46, 209)"> <strong>{{ item.title }}</strong></p>

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <img src="{{ item.image.url }}" style="height:auto;width:500px;max-width: 100%;">
      </div>


      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="/categories/{{ item.category }}">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </a>
          </div>

          <p class="lead">
            {% if object.discount_price %}
            <span class="mr-1">
              <del><strong>${{ object.price }}</strong></del>
            </span>
            <span>${{ object.discount_price }}</span>
            {% else %}
            <span><strong>${{ object.price }}</strong></span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Descripcion</p>

          <p>{{ object.description }}</p>

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Añadir al Carrito
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form> {% endcomment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Añadir al Carrito
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
            Quitar del Carrito
          </a>

        </div>

      </div>

    </div>


    <hr>

    <!--Aditional info-->
    <div class="row d-flex justify-content-center wow fadeIn">
      <div class="col-md-10 text-center">
        <h4 class="my-4 h4">Informacion Adicional</h4>
        <p class="dark-grey-text">
          {{ item.title }}: {{ item.info }}
        </p>
      </div>
    </div>

    <!-- Carousel -->


    <div id="carouselInd" class="carousel slide" data-ride="carousel" data-interval="3000" style="height: auto;">
      <div class="carousel-inner">
        {% for p in photos %}
        {% with forloop.counter0 as i %}
        <div class="carousel-item {% if i is 0 %}active{% endif %}" style="max-width: 100%;">
          <img class="img-fluid mx-auto d-block" style="height:auto;width:400px" src="{{ p.images.url }}">
        </div>
        {% endwith %}
        {% endfor %}
      </div>


      <!-- carousel buttons -->
      <div style="text-align:center">
        <a class="left carousel-control" href="#carouselInd" data-slide="prev"
          onclick="$('#carouselInd').carousel('prev')">‹‹‹</a>
        <a class="right carousel-control" href="#carouselInd" data-slide="next"
          onclick="$('#carouselInd').carousel('next')">›››</a>
      </div>
    </div>


  </div>
</main>

{% endblock content %}